.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.wrapper h2 {
  font-family: Unbounded;
  font-weight: 800;
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.blogs_container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .blogs_container {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .wrapper {
    margin-top: 60px;
  }

  .wrapper h2 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    margin-top: 40px;
  }

  .wrapper h2 {
    font-size: 18px;
  }
}
