.homeJobs {
  display: flex;
  flex-direction: column;
  margin: 80px 0 80px 0;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.title h1 {
  font-family: Unbounded;
  font-weight: 800;
  font-size: 28px;
  color: #141414;
}
.viewAllBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #195ee6;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.viewAllBtn:hover {
  opacity: 0.8;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 24px;
  flex-wrap: wrap;
}
/* Адаптив для карточек - разрешение 1200px и меньше */
@media (max-width: 1200px) {
  .cards {
    justify-content: flex-start;
    gap: 40px;
  }
  .cards > * {
    max-width: 260px;
    width: 100%;
  }
}

@media (max-width: 1015px) {
  .cards > * {
    max-width: 300px;
  }

  .cards {
    justify-content: flex-start;
  }
}

/* Адаптив для мобильных - разрешение 480px и меньше */
@media (max-width: 480px) {
  .cards > * {
    max-width: 440px;
    width: 100%;
  }

  .viewAllBtn {
    font-size: 14px;
  }
}
