.backButton {
  margin-top: 40px;
  display: flex;
  gap: 12px;
  align-items: center;
}
.backButton p {
  margin: 0;
  line-height: 1;
}
.backButton img {
  display: block;
}

.navButtons {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  gap: 20px;
}
