.nav {
  padding-bottom: 0;
}

.backButton {
  margin-top: 40px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.backButton p {
  margin: 0;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
}

.backButton img {
  display: block;
  width: 20px;
  height: 20px;
}

.navButtons {
  margin-top: 24px;
  margin-bottom: 0;
  display: flex;
  gap: 8px;
  padding-bottom: 20px;
}
