.login_wrapper {
  position: fixed;
  top: 90px;
  right: 0;
  width: 400px;
  height: 100vh;
  background-color: #141414;
  z-index: 1000;
  transition: right 0.3s ease-in-out;
}
.login_wrapper img {
  width: 400px;
}

.form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.form h3 {
  color: #fff;
  font-family: Unbounded;
  font-weight: 800;
  font-size: 20px;
  line-height: 24.8px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
.form label {
  color: #767575;
  font-family: Manrope;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}
.form input {
  margin-top: 8px;
  margin-bottom: 20px;
  width: calc(100% - 15px);
  padding-left: 15px;
  height: 48px;
  border: none;
  color: #fff;
  background-color: #202020;
  border-radius: 8px;
  outline: none;
}
.form p {
  color: #fff;
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  letter-spacing: 0%;
  text-align: right;
}
.submit_btn {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 320px;
  height: 48px;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background-color: #195ee6;
  transition: 0.3s ease-in-out;
}
.password_input_wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.password_input_wrapper input {
  flex: 1;
  padding-right: 40px;
}

.eye_button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #202020 inset !important;
  -webkit-text-fill-color: #fff !important;
  background-color: #202020 !important;
  color: #fff !important;
}
