.button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  gap: 10px;
}

.primary {
  background-color: #195ee6;
  color: #fff;
}

.primary:hover {
  background-color: #336ad8;
}

.secondary {
  background-color: #202020;
  color: #fff;
}

.secondary:hover {
  background-color: #353535;
}

.danger {
  background-color: #dc3545;
  color: #fff;
}

.danger:hover {
  background-color: #c82333;
}

.default {
  backdrop-filter: blur(16px);
  background: rgba(25, 94, 230, 0.05);
  color: #195ee6;
}
.default:hover {
  background-color: #d2dfff;
}

/* Размеры кнопок */
.small {
  padding: 6px 12px;
  font-size: 12px;
}

.medium {
  padding: 10px 20px;
  font-size: 14px;
}

.large {
  padding: 14px 28px;
  font-size: 16px;
}
