.card {
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 24px;
  backdrop-filter: blur(128px);
  background: #202020;
  width: 340px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card p {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  opacity: 0.4;
}
.card h1 {
  font-family: Unbounded;
  font-weight: 800;
  font-size: 18px !important;
  color: #fff;
}
.card h2 {
  font-family: Unbounded;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
.card h3 {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.card img {
  width: 40px;
  border-radius: 10px;
  height: 40px;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.typeAndDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.salary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.salary p {
  font-weight: 500;
  font-size: 12px;
  color: #fff;
}
.user p {
  font-weight: 500;
  font-size: 12px;
  color: #fff;
}
.user {
  display: flex;
  gap: 8px;
}
