.background {
  z-index: 1;
  height: 250px;
  width: 100%;

  background:
    radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 70%),
    linear-gradient(150deg, #141414 23%, rgba(20, 20, 20, 0) 100%),
    url("/images/profileBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.user_info {
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.user_info__details {
  display: flex;
  gap: 30px;
}
.user_info h1 {
  font-family: Unbounded;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
}
.user_info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.btn_wrapper {
  margin-top: 35px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 540px) {
  .background {
    height: 300px;
  }
  .user_info h1 {
    font-size: 20px;
  }
}
