input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #202020 inset !important;
  box-shadow: 0 0 0 1000px #202020 inset !important;
  -webkit-text-fill-color: #fff !important;
  color: #fff !important;
  border: none !important;
  outline: none !important;
  border-radius: 8px !important;
  background-color: #202020 !important;
  filter: none !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

input:-moz-autofill {
  box-shadow: 0 0 0 1000px #202020 inset !important;
  -moz-text-fill-color: #fff !important;
  color: #fff !important;
  border: none !important;
  outline: none !important;
  border-radius: 8px !important;
  background-color: #202020 !important;
  filter: none !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.form_group {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.form_group label {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
}
.form_group input {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  outline: none;
}
.form_group select {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 9px;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.form_group select option {
  background-color: #232323;
  color: #fff;
}

.form_group textarea {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  outline: none;
  resize: none;
  min-height: unset;
  width: 560px;
  height: 250px;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .form_group textarea {
    width: 300px;
    height: 150px;
  }
}
