.card {
  display: flex;
  flex-direction: column;

  width: 270px;
  gap: 10px;
  margin-bottom: 40px;
  cursor: pointer;
}
.imageWrapper {
  position: relative;
}
.imageWrapper img {
  border-radius: 10px;
  width: 270px;
}
.card h3 {
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  letter-spacing: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.author:hover {
  opacity: 0.8;
}

.author img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.author__text h3 {
  font-family: Manrope;
  font-weight: 600;
  font-size: 14px;
  line-height: 19.12px;
  letter-spacing: 0px;
}

.author__name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.subscription {
  font-family: Unbounded;
  font-weight: 700;
  font-size: 10px;
  color: #fff;
  border-radius: 4px;
  padding: 3px 6px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription_pro {
  width: 39px;
  background: #195ee6;
  text-transform: uppercase;
}

.subscription_premium {
  width: 74px;
  text-transform: uppercase;
  background: linear-gradient(
    135deg,
    #b5c1d9 0%,
    #858afb 38%,
    #c472ff 65%,
    #d3bbe3 100%
  );
}

.author__text p {
  font-family: Manrope;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.39px;
  letter-spacing: 0px;
}
.category {
  position: absolute;
  left: 10px;
  bottom: 15px;
  background: #14141459;
  backdrop-filter: blur(16px);
  color: #fff;
  padding: 7px 11px;
  border-radius: 6px;
  font-size: 13px;
  font-family: Manrope;
  font-weight: 500;
  z-index: 2;
}

@media (max-width: 600px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
  }
  .imageWrapper img {
    width: 100%;
  }
}
