.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(20, 20, 20, 0.65);
  z-index: 2000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  backdrop-filter: blur(4px);
}

.modal {
  position: relative;
  margin: 10px;
  background: #fff;
  border-radius: 18px;
  max-width: 1015px;
  width: 100%;
  padding: 40px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
  z-index: 2100;
  margin-top: 20px;
}

.closeBtn {
  position: absolute;
  top: 40px;
  right: 40px;
  background: #1414140d;
  border: none;
  border-radius: 12px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2200;
}
@media (max-width: 600px) {
  .modal {
    padding: 24px;
  }
}
